Repository jrmatherly/DocsGPT, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, github, application, docs, extensions, frontend, scripts, tests

.github/labeler.yml:

repo:
- changed-files:
  - any-glob-to-any-file: '*'

github:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'

application:
- changed-files:
  - any-glob-to-any-file: 'application/**/*'

docs:
- changed-files:
  - any-glob-to-any-file: 'docs/**/*'

extensions:
- changed-files:
  - any-glob-to-any-file: 'extensions/**/*'

frontend:
- changed-files:
  - any-glob-to-any-file: 'frontend/**/*'

scripts:
- changed-files:
  - any-glob-to-any-file: 'scripts/**/*'

tests:
- changed-files:
  - any-glob-to-any-file: 'tests/**/*'

remove original claude md
  frontend/CLAUDE.md
Labels: frontend

Claude PR Assistant workflow
  .github/workflows/claude.yml
Labels: github

Claude Code Review workflow
  .github/workflows/claude-code-review.yml
Labels: github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github

claude md
  CLAUDE.md
Labels: repo

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github

Update labeler.yml
  .github/workflows/labeler.yml
Labels: github
